/* ======================================================================
 Color Default
======================================================================= */
#slider .carousel-caption h1 span,
.section_title h2,
.blog_title a,
.client_name h6,
.comment_title h2,
.comment_text h5,
.comment_box h2,
.service_content h3,
.join_content h3,
.video h4,
.info h4,
.share_icon ul li a:hover,
.banner_nav li.active,
.latestpt_title h2,
.Categories ul li a:hover,
.latestpt_title a:hover,
#contact-form h3,
strong span{
	color: #ffc3a0
}
.gallery-section .filter-btns li{
	border-color:#ffafbd;
	color:#ffc3a0;
}
.form-control{
	color: #999;
    background-color: #fff;
    border: 1px solid #c7c7c7;
}
/* ======================================================================
 Color Primary
======================================================================= */
.btn_link{
	color:#ffafbd !important;
}
.blog_info span .fa,
.video .flaticon-play-button::before,
.blog_title a:hover{
	color: #ffafbd
}
.contact_icon {
    background-color: #ffafbd ;
    border:1px solid #ffafbd;
    color: #fff;
}
.contact_info:hover .contact_icon{
	border:1px solid #ffafbd ;
	color: #ffafbd;
	background-color: transparent;
}
/* ======================================================================
 Color Secondery
======================================================================= */
body,
p,
.navbar-collapse ul.nav li a.active,
.member_content p,
.member_data h4,
.member_data span,
.blog_info a,
.info p,
.coppyright_area span,
.share_icon,
.share_icon ul li a,
.comment_text span,
.latestpt_title a,
.Categories ul li a,
.close{
	color:#2a2a2a;
}
.btn_link:hover,
.service_widget:hover .service_content h3,
.service_widget:hover .service_content p{
	color:#2a2a2a !important;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  color: #2a2a2a;
  background-color: transparent;
}
.socal_icon ul li:hover{
	color: #2a2a2a;
	background-color: transparent;
	border:1px solid #ffc3a0;
}
.price_list ul li{
	color: #2a2a2a;
	border-bottom: 1px solid #fff;
}
/* ======================================================================
 Color White
======================================================================= */
.navbar-default .navbar-nav > li > a,
#slider .carousel-caption,
#slider .carousel-caption p,
.carousel-caption li,
.navbar-collapse ul.nav li a:hover,
.banner_nav li a{
	color: #fff
}
.default-portfolio-item .overlay-box .arrow,
.team_image .member_data span,
.socal_icon ul li a,
.join_content p,
.price,
.bannar_area h2{
	color: #f0f0f0;
}
#blogpost .blog_textarea blockquote p{
	border-left: 5px solid #f0f0f0;
	color: #f0f0f0;
}
/* ======================================================================
 Background Color Default
======================================================================= */ 
.owl-theme .owl-dot.active span,
.cssload-loader .cssload-side{
	background-color:#ffc3a0 !important;
}  
/* ======================================================================
 Background Color Primary
======================================================================= */
.socal_icon ul li{
	background: #ffafbd;
	border:1px solid #ffc3a0;
}
/* ======================================================================
  Background Color Secondery
======================================================================= */
.Price_category{
	background-color: #2a2a2a;
    color: #ffc3a0;
}
.tags a{
	background-color: #2a2a2a;
	color: #f0f0f0;
}
.form-control:focus {
    border-color: #2a2a2a;
}
 .overlay,
 .bgoverlay:before {
	background:rgba(0, 0, 0,.3);
} 
.modal{
	background: rgba(0,0,0,.8);
}
/* ======================================================================
  Background Color White
======================================================================= */
#services,
#our_team,
.blog_thumb,
#consumer,
#contact,
.widget{
	background-color: #f9f9f9;
}
.service_widget,
.navbar-default .navbar-toggle .icon-bar,
.team_widget{
	background-color: #fff;
}
/* ======================================================================
  Background Color Gradient
======================================================================= */
  .btn_dafault,
  .btn_info{
	background-image: linear-gradient(to right, #ffafbd 0%, #ffe592 51%, #ffc3a0 100%);
}
.on-panel,
.nav-scroll,
.service_widget:hover,
.team_widget:hover,
#copyright,
.price,
.price_table:hover,
#scroll{
	background: linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
}
#slider a:hover .fa,
.date,
.tags a:hover{
	color: #2a2a2a;
	background: linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
}
.gallery-section .filter-btns li:hover,
.gallery-section .filter-btns li.active{
	border-color:#ffc3a0;
	color:#fff;
	background: linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
}
.service_iconprice .ser_icon,
.service_iconprice .ser_price{
	color: #fff;
	background: linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
}
.serimg_overlay,
.blog_thumb:hover .blog_overlay,
.default-portfolio-item .overlay-box,
.price_table{
	background: linear-gradient(to right, rgba(255, 175, 189,.3) 0%,rgba(255,195,160,.3) 100%);
	background: -moz-linear-gradient(to right, rgba(255, 175, 189,.3) 0%, rgba(255,195,160,.3) 100%);
	background: -webkit-linear-gradient(to right, rgba(255, 175, 189,.3) 0%,rgba(255,195,160,.3) 100%);
}
.team_image .teamimg_overlay{
	background: linear-gradient(to right, rgba(255, 175, 189,.7) 0%,rgba(255,195,160,.7) 100%);
	background: -moz-linear-gradient(to right, rgba(255, 175, 189,.7) 0%, rgba(255,195,160,.7) 100%);
	background: -webkit-linear-gradient(to right, rgba(255, 175, 189,.7) 0%,rgba(255,195,160,.7) 100%);
}
/* ======================================================================
  color css
======================================================================= */
#scroll:hover{
	color: #fff;
	background: #2a2a2a
}
#slider a .fa{
	color: #2a2a2a;
	background: #f0f0f0
}
blockquote{
	background-color: #515151;
}
.comment,
.Categories ul li{
	border-bottom: 1px solid #dad8d8;
}
select{
	border: 1px solid #c7c7c7;
	color: #999;
}
.input-group-addon{
	color: #999;
}
