
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.nav > li > a {
	    padding: 8px;
	}
	.price_list ul li {
	    font-size: 13px;
	    padding: 10px 15px;
	}
	.date{
		padding: 10px 30px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body{
		font-size: 14px !important;
		line-height: 20px !important;
	}
	.navbar-default .navbar-nav > li > a {
	    letter-spacing: 1px;
	    padding: 5px;
	    font-size: 12px;
	}
	#slider .carousel-caption h1 {
	    font-size: 21px;
	    line-height: 24px;
	    margin-bottom: 10px;
	}
	#slider .carousel-caption p {
	    font-size: 14px;
	    margin-bottom: 15px;
	    line-height: 20px;
	}
	.btn_df{
		font-size: 13px;
		line-height: 18px;
		padding: 8px 25px;
	}
	.section_title h2 {
	    font-size: 21px;
	    line-height: 36px;
	}
	.section_title p {
	    width: 70%;
	    font-size: 14px;
	    line-height: 21px;
	}
	.about_content p span,.single_post  .admin{
		font-size: 14px;
	}
	.about_content p {
	    margin-bottom: 20px;
	}
	.team_widget{
		border-radius: 172px 172px 0 0;
		margin-bottom: 30px;
	}
	.member_content p{
		padding: 40px 30px;
	}
	.price_table{
		margin-bottom: 30px;
	}
	.date{
		padding: 10px 20px;
		font-size: 12px;
	}
	.blog_data{
		padding: 30px 15px;
	}
	.blog_title a,.Categories ul li a{
		font-size: 14px;
		line-height: 20px;
	}
	.blog_info span .fa {
	    padding-right: 10px;
	}
	.post_comment a{
		font-size: 13px;
		line-height: 16px;
	}
	.info p {
	    font-size: 11px;
	    line-height: 14px !important;
	}
	.reservation_form h3{
		font-size: 18px;
	}
	.reservation_form strong {
	    font-size: 13px;
	}
	.bannar_area h2{
		font-size: 24px;
		margin-bottom: 5px;
	}
	.latestpt_title h2{
		font-size: 20px;
		margin-bottom: 15px;
		padding-bottom: 0px;
	}
	.single_post .blog_title{
		margin-bottom: 15px;
	}
	.Categories ul li{
		padding: 5px 0;
	}
	#blogpost {
	    padding-top: 60px;
	}
	.blog_data .blog_title{
		margin-bottom: 15px;
	}
	.blog_data .blog_info{
		padding: 0px 0px 10px 0px;
	}
	.sidebar_widget{
		margin-bottom: 40px;
	}
	.latestpt_title a {
	    font-size: 12px;
	    line-height: 12px;
	}
	.sidebar_widget .blog_info .postdata,
	.sidebar_widget .post_comment a{
		font-size: 10px;
	}
	.latest_post img{
		width: 60px;
		margin-right: 5px;
	}
	.blog_info {
	    padding: 0px 0px 20px 0px;
	}
	.tags a {
	    padding: 5px 20px;
	    font-size: 12px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.navbar-brand>img {
	    display: block;
	    width: 120px;
	}
	.navbar-toggle {
	    margin: 13px 15px;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle{
		background-color: #2a2a2a;
		border-radius: 0;
	}
	.about_content p span{
		margin-top: 20px;
		display: block;
	}
	.gallery-section .filter-btns li{
		margin-right: 10px;
	}
	.team_widget {
	    border-radius: 282px 282px 0 0;
	    margin-bottom: 30px;
	}
	.member_data {
	    padding: 20px;
	}
	.blog_thumb{
		margin-bottom: 30px;
	}
	.owl-carousel.owl-loaded {
	    display: inline-block;
	}
	.contact_info{
		margin-bottom: 15px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.carousel{
		padding-top: 70px;
	}
	.navbar-nav li {
    float: none;
}
	#slider .carousel-caption h1{
	    font-size: 14px;
	    line-height: 16px;
	    margin-bottom: 2px;
	}
	#slider .carousel-caption p {
	    font-size: 10px;
	    margin-bottom: 5px;
	    line-height: 12px;
	}
	.carousel-caption{
		padding-top: 30px;
	}
	.py_80 {
    	padding: 40px 0px !important;
	}
	.section_title p{
		width: 90%;
	}
	.gallery-section .filter-btns li {
    	margin-bottom: 10px;
	}
	.navbar{
		background-color: #c7c7c7
	}
	.single_post .blog_info span {
    	padding-right: 15px;
	}
	.comment_text span {
	    display: inline-block;
	    margin-top: 5px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.carousel-control{
		display: none;
	}
	#slider .carousel-caption h1 {
    	font-size: 12px;
    	line-height: 13px;
    	margin-bottom: 2px;
	}
	#slider .carousel-caption p {
    	font-size: 8px;
    	margin-bottom: 5px;
    	line-height: 10px;
	}
	.section_title h2 {
	    font-size: 16px;
	    line-height: 20px;
	}
	.section_title p {
	    width: 100%;
	    font-size: 13px;
	    line-height: 16px;
	}
	.btn_df{
		margin-right: 2px;
	}
	.member_content p {
	    padding: 30px 20px;
	}
	.join_content h3 {
	    font-size: 18px;
	    margin-bottom: 15px;
	    line-height: 26px;
	}
	.single_post .blog_title a {
	    font-size: 16px;
	    line-height: 22px;
	}
	.blog_info span,.admin a,.comment a{
		font-size: 12px;
	}
	.single_post .blog_info span {
	    padding-right: 10px;
	}
	.comment_text h5,.comment_text a{
		font-size: 14px;
	}
	.comment_text span {
	    font-size: 12px;
	}
	.reservation_form h3 {
	    font-size: 18px;
	    margin-top: 15px;
	}
	.reservation_form strong {
    	font-size: 12px;
	}
}
